In [36]:
import pandas as pd
import numpy as np

# Task 1: Creating the dataframes
# Employee DataFrame
employee_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}
employee_df = pd.DataFrame(employee_data)
employee_df.to_csv('employee.csv', index=False)

# Project DataFrame
project_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [10002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished', 'Ongoing', 'Finished', 'Finished']
}
project_df = pd.DataFrame(project_data)
project_df.to_csv('project.csv', index=False)

# Seniority Level DataFrame
seniority_data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
}
seniority_df = pd.DataFrame(seniority_data)
seniority_df.to_csv('seniority.csv', index=False)

# As we have created the data frames, now we can Load dataframes from the created csv files for remaining tasks
employee_df = pd.read_csv('employee.csv')
project_df = pd.read_csv('project.csv')
seniority_df = pd.read_csv('seniority.csv')

In [37]:
# Task 2: Replaceing missing values in 'Cost' with the running average

# Firstly we will indentify the missing values using the below code
missing_indices = project_df[project_df['Cost'].isnull()].index

# Now we will be iterateing through the dataframe and replace the missing values
for i in missing_indices:
    
    # Now we are calculating the average of the costs up to the current row (excluding the NaN)
    cost_mean = project_df['Cost'].iloc[:i].mean()
    project_df.loc[i, 'Cost'] = cost_mean

# As we have calcuated the average now let's check the result
print("Project DataFrame after handling missing values:")
print(project_df)

Project DataFrame after handling missing values:
      ID     Project        Cost    Status
0   A001   Project 1  10002000.0  Finished
1   A002   Project 2   2000000.0   Ongoing
2   A003   Project 3   4500000.0  Finished
3   A004   Project 4   5500000.0   Ongoing
4   A005   Project 5   5500500.0  Finished
5   A002   Project 6    680000.0    Failed
6   A005   Project 7    400000.0  Finished
7   A003   Project 8    350000.0    Failed
8   A001   Project 9   3616562.5   Ongoing
9   A003  Project 10    300000.0  Finished
10  A001  Project 11   2000000.0  Finished
11  A004  Project 12   1000000.0   Ongoing
12  A004  Project 13   3000000.0  Finished
13  A005  Project 14    200000.0  Finished

In [38]:
# Task 3: Split the 'Name' column and drop the original
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', expand=True)
employee_df = employee_df.drop('Name', axis=1)

print("\nEmployee DataFrame after splitting 'Name' column:")
print(employee_df)

Employee DataFrame after splitting 'Name' column:
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [39]:
# Task 4: Join all dataframes
# First, we will join employee and seniority dataframes on 'ID'
final_df = pd.merge(employee_df, seniority_df, on='ID', how='left')
# Then, we will join the result with the project dataframe on 'ID'
final_df = pd.merge(final_df, project_df, on='ID', how='left')

print("\nFinal DataFrame after joining all three dataframes:")
print(final_df)

Final DataFrame after joining all three dataframes:
      ID Gender     City  Age First Name  Last Name  Designation Level  \
0   A001      M    Paris   25       John      Alter                  2
1   A001      M    Paris   25       John      Alter                  2
2   A001      M    Paris   25       John      Alter                  2
3   A002      F   London   27      Alice  Luxumberg                  2
4   A002      F   London   27      Alice  Luxumberg                  2
5   A003      M   Berlin   29        Tom  Sabestine                  3
6   A003      M   Berlin   29        Tom  Sabestine                  3
7   A003      M   Berlin   29        Tom  Sabestine                  3
8   A004      F  Newyork   31       Nina      Adgra                  2
9   A004      F  Newyork   31       Nina      Adgra                  2
10  A004      F  Newyork   31       Nina      Adgra                  2
11  A005      F   Madrid   30        Amy      Johny                  3
12  A005      F   Madrid   30        Amy      Johny                  3
13  A005      F   Madrid   30        Amy      Johny                  3

       Project        Cost    Status
0    Project 1  10002000.0  Finished
1    Project 9   3616562.5   Ongoing
2   Project 11   2000000.0  Finished
3    Project 2   2000000.0   Ongoing
4    Project 6    680000.0    Failed
5    Project 3   4500000.0  Finished
6    Project 8    350000.0    Failed
7   Project 10    300000.0  Finished
8    Project 4   5500000.0   Ongoing
9   Project 12   1000000.0   Ongoing
10  Project 13   3000000.0  Finished
11   Project 5   5500500.0  Finished
12   Project 7    400000.0  Finished
13  Project 14    200000.0  Finished

In [40]:
# Task 5: Add a new bonus column
# Firstly we will initialize the 'Bonus' column with 0
final_df['Bonus'] = 0

# Then we will apply a 5% bonus for 'Finished' projects
final_df.loc[final_df['Status'] == 'Finished', 'Bonus'] = final_df['Cost'] * 0.05

print("\nFinal DataFrame after adding 'Bonus' column:")
print(final_df[['ID', 'First Name', 'Status', 'Cost', 'Bonus']])

Final DataFrame after adding 'Bonus' column:
      ID First Name    Status        Cost   Bonus
0   A001       John  Finished  10002000.0  500100
1   A001       John   Ongoing   3616562.5       0
2   A001       John  Finished   2000000.0  100000
3   A002      Alice   Ongoing   2000000.0       0
4   A002      Alice    Failed    680000.0       0
5   A003        Tom  Finished   4500000.0  225000
6   A003        Tom    Failed    350000.0       0
7   A003        Tom  Finished    300000.0   15000
8   A004       Nina   Ongoing   5500000.0       0
9   A004       Nina   Ongoing   1000000.0       0
10  A004       Nina  Finished   3000000.0  150000
11  A005        Amy  Finished   5500500.0  275025
12  A005        Amy  Finished    400000.0   20000
13  A005        Amy  Finished    200000.0   10000

In [41]:
# Task 6: Demote designation and delete records
# We will now demote designation for employees with 'Failed' projects
failed_projects_ids = final_df[final_df['Status'] == 'Failed']['ID'].unique()
final_df.loc[final_df['ID'].isin(failed_projects_ids), 'Designation Level'] -= 1

# Now we will delete the records where 'Designation Level' is above 4
final_df = final_df[final_df['Designation Level'] <= 4]

print("\nFinal DataFrame after demoting designation and deleting records:")
print(final_df[['ID', 'Designation Level', 'Status']])

Final DataFrame after demoting designation and deleting records:
      ID  Designation Level    Status
0   A001                  2  Finished
1   A001                  2   Ongoing
2   A001                  2  Finished
3   A002                  1   Ongoing
4   A002                  1    Failed
5   A003                  2  Finished
6   A003                  2    Failed
7   A003                  2  Finished
8   A004                  2   Ongoing
9   A004                  2   Ongoing
10  A004                  2  Finished
11  A005                  3  Finished
12  A005                  3  Finished
13  A005                  3  Finished

In [42]:
# Task 7: Add title to first name and drop gender column
# For this we will create a copy to not alter the original final_df dataframe for other tasks
final_df_t7 = final_df.copy()

# Now we will add titles based on gender to final_df_t7 dataframe
final_df_t7.loc[final_df_t7['Gender'] == 'M', 'First Name'] = 'Mr. ' + final_df_t7['First Name']
final_df_t7.loc[final_df_t7['Gender'] == 'F', 'First Name'] = 'Mrs. ' + final_df_t7['First Name']

# Now we will Drop the 'Gender' column
final_df_t7 = final_df_t7.drop('Gender', axis=1)

print("\nDataFrame after adding titles and dropping 'Gender' column:")
print(final_df_t7[['ID', 'First Name', 'Last Name']])

DataFrame after adding titles and dropping 'Gender' column:
      ID  First Name  Last Name
0   A001    Mr. John      Alter
1   A001    Mr. John      Alter
2   A001    Mr. John      Alter
3   A002  Mrs. Alice  Luxumberg
4   A002  Mrs. Alice  Luxumberg
5   A003     Mr. Tom  Sabestine
6   A003     Mr. Tom  Sabestine
7   A003     Mr. Tom  Sabestine
8   A004   Mrs. Nina      Adgra
9   A004   Mrs. Nina      Adgra
10  A004   Mrs. Nina      Adgra
11  A005    Mrs. Amy      Johny
12  A005    Mrs. Amy      Johny
13  A005    Mrs. Amy      Johny

In [43]:
# Task 8: Promote designation based on age
final_df.loc[final_df['Age'] > 29, 'Designation Level'] += 1

print("\nDataFrame after promoting designation for employees > 29 years old:")
print(final_df[['ID', 'Age', 'Designation Level']].drop_duplicates())

DataFrame after promoting designation for employees > 29 years old:
      ID  Age  Designation Level
0   A001   25                  2
3   A002   27                  1
5   A003   29                  2
8   A004   31                  3
11  A005   30                  4

In [44]:
# Task 9: Calculate total project cost per employee
# we will first group by ID and then sum the costs
total_proj_cost_df = final_df.groupby(['ID']).agg(
    {'Cost': 'sum', 'First Name': 'first'}
).reset_index()

# Now we will rename columns and select the required ones
total_proj_cost_df = total_proj_cost_df.rename(columns={'Cost': 'Total cost'})[['ID', 'First Name', 'Total cost']]

# We will now save to a new dataframe
TotalProjCost = total_proj_cost_df

print("\nNew DataFrame 'TotalProjCost':")
print(TotalProjCost)

New DataFrame 'TotalProjCost':
     ID First Name  Total cost
0  A001       John  15618562.5
1  A002      Alice   2680000.0
2  A003        Tom   5150000.0
3  A004       Nina   9500000.0
4  A005        Amy   6100500.0

In [45]:
# Task 10: Print employee details where city name contains "o"
# We will use a boolean mask to filter the rows
employees_with_o_in_city = employee_df[employee_df['City'].str.contains('o', case=False)]

print("\nEmployee details where city name contains the letter 'o':")
print(employees_with_o_in_city)

Employee details where city name contains the letter 'o':
     ID Gender     City  Age First Name  Last Name
1  A002      F   London   27      Alice  Luxumberg
3  A004      F  Newyork   31       Nina      Adgra